<div id="<%= dom_id article %>" class="article">
  <p><%= article.title %></p>
  <p><%= article.description %></p>
  <p>
    <div>
      <%= button_to 'Like', like_article_path(article.id) %>
    </div>
    <div class="like_count">
      <%= article.likes.count %> likes
    </div>
  </p>
</div>
